<footer class="footer">
  <small>
    <a href=""><%= yield(:title) %>ったー</a>
    by Koki Iwata
  </small>
  <nav>
    <ul>
      <li><%= link_to "◯◯ったーについて",   about_path %></li>
      <li><%= link_to "不満がある方はこちら", contact_path %></li>
      <li><a href="http://news.railstutorial.jp/">News</a></li>
    </ul>
  </nav>
</footer>